*{
  font-family: 'Noto Sans KR', sans-serif;
}
.Title_me{
  color:#000000;
  font-family: Black Han Sans,sans-serif;
  line-height: 1.5;
  text-align: center;
}
.baseBackGroundImage {
  background-image: url('./components/notebook.jpg');
  background-size: cover;
  background-position: center;
}

.baseP{
  margin:0 auto;
  width:100%;
  text-align: center;
  font-size: 56px;
  color:#ffffff;
  font-weight: bold;
}
