.Title{
  color:#000000;
  border-bottom-color: #000000;
}
.baseBackGroundImage {
  background-image: url('./components/notebook.jpg');
  background-size: cover;
  background-position: center;
}

.baseP{
  margin:0 auto;
  width:100%;
  text-align: center;
  font-size: 56px;
  color:#ffffff;
  font-weight: bold;
}
